html,
body {
	height: 100%;
}
body { 
	height: auto;
	display: block;
	margin: 0;
	text-align: center;
	background: linear-gradient(rgb(216, 0, 0), transparent 30%, rgb(0, 0, 131)),
		url("../images/background.jpg");
	font-size: 20px;
}

#timer{
	border-bottom: 5px solid black;
	padding-bottom: 15px;
}
#title {
	font-family: 'Russo One', sans-serif;
	color: rgb(217, 232, 209);
	text-shadow: 2px 2px 5px black;
}

#directions,
#end-container {
	font-family: 'Righteous', cursive;
	color: rgb(255, 182, 25);
	text-shadow: 2px 2px 5px black;
}

#main-container {
	font-family: 'Bungee', cursive;
	margin: 20px;
	background: rgba(23, 133, 236, 0.788);
	border: 5px solid black;
	overflow: auto;
}

#start_button, 
#done_button {
	font-family: 'Righteous', cursive;
	font-size: 20px;
	color: cornsilk;
	border-radius: 8px;
	padding: 14px 40px;
	border: 10px;
	margin-bottom: 10px;
	background: darkblue;
	cursor: pointer;
}

#start_button:hover,
#done_button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.562), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}